<html>
    <head>
        <title> Login </title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        {% if messages %}
            <div class="fixed top-0 left-3/4 transform -translate-x-3/4 mt-4 w-full max-w-sm">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} mb-4 bg-opacity-75 text-white px-6 py-4 border-0 rounded relative">
                        <span class="text-xl inline-block mr-5 align-middle">
                            {{ message }}
                        </span>
                        <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none" onclick="closeAlert(this)">
                            <span>×</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="flex justify-center items-center h-screen">
        <div class="w-full max-w-xs">
            <form method="POST" action="/login/" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
              {% csrf_token %}
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                  Username
                </label>
                <input name="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username">
              </div>
              <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                  Password
                </label>
                <input name="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"id="password" type="password" placeholder="******************">
              </div>
              <div class="flex items-center justify-between">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                  Sign In
                </button>
                <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
                  Forgot Password?
                </a>
              </div>
            </form>
            <p class="text-center text-gray-500 text-xs">
              &copy;2020 Acme Corp. All rights reserved.
            </p>
        </div>
        </div>
        <script>
            function closeAlert(element) {
              element.parentElement.remove();
            }
          </script>
    </body>
</html>          